<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue chez Car Driver Solutions !</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: 'Roboto', Verdana, sans-serif !important;
        }

        .container {
            max-width: 600px;
            margin: auto;
            background-color: #edf1f7;
            line-height: 20px;
            padding: 20px;
            border-radius: 10px;
            border-top: #2a9d8f 3px solid;
        }

        h3 {
            text-align: center;
            padding: 20px;
            font-family: 'Roboto', Verdana, sans-serif !important;
        }

        p {
            font-family: 'Roboto', Verdana, sans-serif !important;
            margin-bottom: 15px;
            font-size: 14px !important;
        }

        li {
            font-family: 'Roboto', Verdana, sans-serif !important;
            font-size: 14px !important;

        }

        .header {
            text-align: center;
            padding: 10px;
        }

        .footer {
            text-align: center;
            padding: 10px;
            font-size: 10px;
        }

        .btn {
            color: white !important;
            background-color: #2a9d8f;
            border: none;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            margin: 0 auto;
            text-decoration: none;
            border-bottom: #1d7066 3px solid;
        }

        .timeline {
            background-color: white;
            list-style: none;
            padding: 12px 10px 10px 12px;
            border-radius: 20px;
        }

        .timeline-item {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            font-size: 12px !important;
        }

        .timeline-item::before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }



        .timeline-item::before {
            background-color: #d5d5d5;
            /* Gray */
        }

        .timeline-item-done::before {
            background-color: #4CAF50;
            /* Green */
        }
    </style>
</head>

<body>

    <table role="presentation" cellspacing="0" cellpadding="0" width="100%" style="margin: auto;">
        <tr>
            <td class="header">
                <img width="200px" src="https://api.cardriver-solutions.fr/assets/images/logo.png" alt="Logo de Car Driver Solutions"
                    style="max-width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <div class="container" style="padding: 10px;">
                    <p>Bonjour {{user_name}},</p>
                    <p>Nous sommes ravis de vous informer que votre véhicule a été livré avec succès à la destination
                        spécifiée. Félicitations pour cette étape réussie de votre commande de convoyage.</p>
                    <ul class="timeline">
                        <div style="text-align: center; margin-bottom: 8px;">
                            <b>{{immatriculation}}</b>
                        </div>
                        <li class="timeline-item timeline-item-done">Véhicule livré
                            <small><i>({{date_delivery}})</i></small>
                        </li>
                        <li class="timeline-item timeline-item-done">Véhicule récuperé
                            <small><i>({{date_collect}})</i></small></li>
                        <li class="timeline-item timeline-item-done">Commande confirmée
                            <small><i>({{date_confirmation}})</i></small></li>
                    </ul>
                    <!-- <p>
                        <i><small>Si vous avez des questions ou besoin d'assistance, n'hésitez pas à nous contacter à
                                contact@cardriver-solutions.fr.</small></i>
                    </p> -->
                    <p>Nous espérons que votre expérience avec notre service a été à la hauteur de vos attentes. </p>
                    <p>Encore une fois, merci de nous avoir fait confiance pour vos besoins de transport. </p>
                    <p>Cordialement,<br>L'équipe de Car Driver Solutions</p>
                </div>

            </td>
        </tr>
        <tr>
            <td class="footer">
                <p><small>CAR DRIVER SOLUTIONS - 10 RUE DE PENTHIEVRE 75008 PARIS</small></p>
            </td>
        </tr>
    </table>

</body>

</html>